@import './../../../styles-vars.scss';

:host {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  margin: 100px 0 200px 0;
  height: min-content;
}

.column {
  gap: 50px;
  display: flex;
  flex-direction: column;
  width: 55%;
  z-index: 2;
}

.container-text {
  width: 100%;
  display: flex;
  flex-direction: column;
  font-size: 26px;
  font-family: $textNunito;
  font-weight: $textRegular;
  line-height: 35px;
}

ul {
  list-style-image: url('./../../../assets/svg/paw.svg');
  font-size: 26px;
  font-family: $textNunito;
  line-height: 50px;
  font-weight: $textBold;
}

.img {
  position: absolute;
  height: 560px;
  width: fit-content;
  right: 55px;
  top: 25px;
  z-index: 1;
}

.background-image {
  position: absolute;
  height: 667px;
  width: 732px;
  right: 0;
  top: 206px;
  background-image: url('./../../../assets/svg/smaller-background-pink.svg');
  background-repeat: no-repeat;
  background-size: auto;
  background-position: right;
}

.grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 50px;
  width: 100%;
  position: absolute;
  height: calc(100% - 165px);
  background: transparent;
  left: 0;
  top: 165px;
  z-index: 2;

  div {
    background-color: $complementarySemiTransparentTurquoiseBlue;
  }
}

@media screen and (max-width: 1000px) {
  :host {
    margin: 50px 0 60px 0;
    flex-direction: column-reverse;
    gap: 20px;
  }

  .grid {
    display: none;
  }

  .column {
    width: 100%;
    text-align: center;
    gap: 20px;
  }

  .background-image {
    position: relative;
    width: 330px;
    height: 301px;
    top: auto;
    align-self: center;
    background-image: url('./../../../assets/svg/background-pink-mobile.svg');
  }

  .img {
    height: 248px;
    top: 20px;
    left: 0px;
  }

  .text-size-100 {
    font-size: 50px;
    line-height: 63px;
  }

  .container-text {
    font-size: 18px;
    line-height: 24px;
    text-align: start;
  }

  ul {
    padding-left: 27px;
    font-size: 18px;
    text-align: start;
    list-style-image: url('./../../../assets/svg/paw-mobile.svg');
  }
}
