@import './../../../styles-vars.scss';

:host {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  margin: 100px 0 200px 0;
  gap: 100px;
}

.column {
  gap: 50px;
  display: flex;
  flex-direction: column;
  width: 55%;
  z-index: 2;

  .container-text {
    display: flex;
    flex-direction: column;
  }
}

.img {
  position: absolute;
  height: 475px;
  width: fit-content;
  right: 20px;
  top: 0;
  z-index: 1;
}

.background-image {
  position: absolute;
  height: 667px;
  width: 732px;
  right: 0;
  top: 206px;
  background-image: url('./../../../assets/svg/smaller-background-pink.svg');
  background-repeat: no-repeat;
  background-size: auto;
  background-position: right;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 50px;
  width: 100%;
  background: transparent;
  z-index: 2;
}

.container-buttons {
  display: flex;
  gap: 20px;

  button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 52px;
    border-radius: 10px;
    font-size: 20px;
    border: none;
    font-family: $textNunito;
    transition: all 100ms ease-out;
  }

  button:hover {
    cursor: pointer;
    opacity: 0.7;
  }
}

.btn-check-fav {
  background-color: $complementarySemiTransparentPlumPurple;
}

.btn-uncheck-fav {
  background-color: $complementarySoftGray;
}

.border-btn {
  border: solid 2px $primaryPurple !important;
}

.width-btn-adopt {
  width: 220px;
}

.width-btn-fav {
  width: 60px;
}

@media screen and (max-width: 1500px) {
  .width-btn-adopt {
    width: 164px;
  }

  .width-btn-fav {
    width: 50px;
  }
}

@media screen and (max-width: 1000px) {
  :host {
    margin: 50px 0 100px 0;
    gap: 40px;
  }

  .column {
    width: 100%;
    text-align: center;
  }

  .background-image {
    position: relative;
    width: 330px;
    height: 301px;
    top: auto;
    align-self: center;
    background-image: url('./../../../assets/svg/background-pink-mobile.svg');
  }

  .img {
    height: 214px;
    top: 0;
    right: 30px;
  }

  .text-size-100 {
    font-size: 50px;
    line-height: 63px;
  }

  .text-size-24 {
    font-size: 18px;
    line-height: 24px;
    text-align: start;
  }

  .grid {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media screen and (max-width: 376px) {
  .grid {
    width: auto;
    margin: 0 -25px;
  }
}
