<header>
  <img [routerLink]="['/home']" class="logo" src="./../../../assets/svg/logo-header.svg" alt="Logo adote um cachorro">
  <a class="rules text-amatic-sc text-bold" routerLinkActive="rules-active" [routerLink]="['/regras']">Nossas Regras</a>
  <div class="containerMenu">
    <button #btnMenu class="btn-menu-mobile">
      <img (click)="openMenu()" src="./../assets/svg/icon-menu-mobile.svg" alt="Menu">
    </button>
    <div [ngClass]="{hidden: hiddenMenu, flex: !hiddenMenu}" class="cardMenu">
      <a class="rules text-amatic-sc text-bold" routerLinkActive="rules-active" [routerLink]="['/regras']">Nossas
        Regras</a>
    </div>
  </div>
</header>
<section>
  <router-outlet></router-outlet>
</section>
<footer>
  <div class="content-footer">
    <img [routerLink]="['/home']" class="logo" src="./../../../assets/svg/logo-footer.svg" alt="Logo adote um cachorro">
    <div class="container-data">
      <span class="text-nunito text-bold">Quatro Patas Adoção de Animais</span>
      <span class="text-nunito text-regular"> Rua das Oliveiras, 158 | Nova Floresta - São Paulo, SP 13999-008</span>
      <span class="text-nunito text-regular">(021) 9921-8282 ou (019) 9923-5050</span>
    </div>
  </div>
  <div class="copyright">
    <span class="text-nunito text-regular">Copyright 2022. Todos os direitos.</span>
    <span class="text-nunito text-bold">Violência contra animais é crime. Denuncie 0800 600 6428</span>
  </div>
</footer>
