<div class="column">
  <span class="text-amatic-sc text-size-100 text-bold">Procurando um novo AMIGO?</span>
  <div class="container-text">
    <span class="text-size-24 text-nunito text-regular">A <strong class="text-bold">Quatro Patas</strong> pode ajudar
      nessa missão!</span>
    <span class="text-size-24 text-nunito text-regular">Doguinhos e Gatinhos estão esperando para fazer você
      feliz!</span>
    <span class="text-size-24 text-nunito text-regular">Adote agora mesmo.</span>
  </div>
  <div class="container-buttons">
    <button [routerLink]="['/adote']" class="bg-color-main color-white"> Adote agora </button>
    <button [routerLink]="['/regras']" class="bg-color-white color-main"> Nossas regras </button>
  </div>
</div>
<div class="background-image">
  <img class="img" src="./../../../assets/img/woman-taking-funny-photo-with-dog.png"
    alt="Mulher tirando uma foto engraçada com um cachorro">
</div>
