$textNunito: 'Nunito';
$textAmaticSc: 'Amatic SC';

$primaryWhite: rgba(255, 255, 255, 1);
$primaryPurple: rgba(121, 24, 217, 1);
$primaryYellow: rgba(217, 169, 24, 1);

$sucundaryDarkPurple: rgba(108, 54, 89, 1);
$sucundaryTurquoiseBlue: rgba(8, 147, 185, 1);
$sucundaryDeepPurple: rgba(31, 15, 43, 1);

$complementaryLightGray: rgba(241, 241, 241, 1);
$complementarySoftGray: rgba(229, 229, 229, 1);
$complementaryGray: rgba(142, 142, 142, 1);
$complementaryDarkGray: rgba(70, 70, 70, 1);
$complementaryGreen: rgba(145, 216, 139, 1);
$complementaryPink: rgba(216, 139, 185, 1);
$complementaryLightPink: rgba(209, 164, 255, 1);
$complementarySemiTransparentGold: rgba(217, 169, 24, 0.5);
$complementarySemiTransparentIntensePurple: rgba(121, 24, 217, 0.5);
$complementarySemiTransparentPlumPurple: rgba(191, 128, 255, 0.2);
$complementarySemiTransparentTurquoiseBlue: rgba(8, 147, 185, 0.2);


$shadowBtn: 8px 8px 20px 0px rgba(121, 24, 217, 0.5);

$textBold: 700;
$textRegular: 400;
$textLigth: 300;
